* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Tajawal", sans-serif;
}
.title{
  color: rgba(10, 10, 160, 0.543);
  font-size: 40px;
  text-align: center;
  margin: 100px auto;
}
html{
  scroll-behavior: smooth;
}
.i input{
  padding: 15px !important;
}
.i button{
  padding: 15px;
  width: 150px;
}
/* header */

.header {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(./img/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navbar-nav {
 display: flex;
 align-items: center;
 gap: 20px;
}
.navbar-nav li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;
}
.navbar-nav li a:hover{
  color: rgb(13, 13, 216);
}

/* search */

.search-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.search-box:hover {
  background-color: rgb(19, 61, 198);
  color: #fff;
  transition: 0.5s;
}
.search-box:hover p {
  color: #ffff !important;
  opacity: 1;
}
.search-box:hover i {
  color: #fff !important;
}
.l {
  border-right: 1px solid grey;
}
.b button:first-child {
  border-radius: 30px 0px 0px 30px;
}
.b button:nth-child(2) {
  border-radius: 0px 30px 30px 0px;
}

/* about */
.about-img{
  max-width: 100%;
  height: 400px;
}
.s{
  height: 300px;
  width: 100%;
}
.l{
  height: 500px;
}

/* contact */

.contact-content {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.7),
      rgba(20, 20, 20, 0.7)
    ),
    url(./img/booking.jpg);
  background-size: cover;
  background-position: center;
}

.contact input::placeholder{
  color: white;
}

.contact textarea::placeholder{
  color: white;
}
.contact input{
  color: white;
}

/* step */

.step {
  position: relative;
}
.step i{
  position: absolute;
  top: -50px;
  left: 38%;
  text-align: center;
  width: 70px;
  height: 70px;

}
.step h4{
  margin-top: 30px;
  text-align: center;
}

/* team */

.team{
  position: relative;
}
.team .social{
  position: absolute;
  top: 220px;
  left: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.team .social i{
  background-color: #fff;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.5s;

}
.team{
  margin-top: 20px;
}
.team .social i:hover{
  background-color: rgba(8, 8, 129, 0.588);
  color: #fff;
}
.team h3{
  margin-top: 20px;
}
@media screen and (max-width : 480px){
  .about-text{
    text-align: center;
    margin-top: 50px;
  }
  .services{
    margin-top: 50px;
  }
  .search-box{
    width: 80%;
    margin: 10px auto;
  }
  .popular-box{
    margin: 10px auto;
  }
  .package-box {
    margin: 10px 0px;
  }
  .contact-text p{
    width: 100% !important;
  }
  .ff{
    margin-top: 20px;
  }
  input{
    margin-top: 10px;
  }
  .step {
  margin-top: 20px;
  }
  .step i {
    width: 60px;
    height: 60px;
    top: -35px;
  }
  .team .social{
    top: 320px;
    left: 100px;
    cursor: pointer;
  }
  .team .social i{
    background-color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.5s;
  }
  .team .social i:hover{
    background-color: rgba(8, 8, 129, 0.588);
    color: #fff;
  }
  .carousel{
    width: 100% !important;
  }

  .navbar-nav {
     background-color: #ccc;
     width: 100% !important;
     text-align: left;
     padding: 20px;
   }
   .navbar-nav a{
    color: #000 !important;
   }
   .navbar-nav li a{
     color: #000;
   }
   .navbar-nav li a:hover{
     color: rgb(13, 13, 216);
   }
   
}